{% extends "base.html" %}
{% load static%}
{% load crispy_forms_tags %}
{% block title%} COGS {% endblock%}
{% block content %}
<div class="Finance">
    <nav class="d-flex justify-content-between align-items-center rounded mb-2 py-2">
        <div class='d-flex justify-content-center'>
            <a href='{% url "finance:finance"%}' class='btn bx bx-arrow-back fs-5'></a>
            <a href='/' class='bx bx-home btn fs-5'></a>
            <span class='h4 ms-2'>Cost Of Sales</span>
        </div>
    </nav>
    <div class="d-flex mb-2">
        <input id="cogs_search" type="text" class="form-control w-100" placeholder="Search..." oninput="filterTable('cogs_table','cogs_search')">
    </div>
    <table class="table p-1" id="cogs_table" style="width: 100%;">
        <thead class="bg-primary-subtle text-white">
            <tr>
                <th>Date</th>
                <th>Production</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for cog in cogs%}
              <tr>
                    <td><small>{{ cog.date }}</small></td>
                    <td><small>{{ cog.production.production_plan_number }}</small></td>
                    <td><small>{{ cog.amount }}</small></td>
              </tr>
            {% endfor %}
        </tbody>
    </table>
    
   <script>
        function filterTable(tableId, inputId){
            const q = document.getElementById(inputId).value.toLowerCase();
            const rows = document.querySelectorAll(`#${tableId} tbody tr`);
            rows.forEach(tr => {
                const text = tr.innerText.toLowerCase();
                tr.style.display = text.includes(q) ? '' : 'none';
            });
        }
   </script>    
</div>
{% endblock %}