{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} 
    Prodoction Plan Declaration
{% endblock %}
{% block content %}

<div class="inventory">
    <div class='add-production-plan'>
        <div class='production-plan mt-2 d-flex justify-content-between align-items-center'>
            <div>
                <a href='{% url "inventory:production_plans" %}' class='border btn bx bx-arrow-back fs-5'></a>
                <a href='/' class='bx bx-home btn border fs-5 mx-2'></a>
                <span class='mt-2 fs-5'>Production Plan : {{ production_plan.production_plan_number }} Declaration</span>
            </div>
            <div>
                <ul class="list-unstyled mt-3 d-flex align-items-center">
                    <li>
                        <a href="{% url 'inventory:production_plans' %}" class="mx-2 btn border">Production Plan</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table class="table table-hover" id="minor">
                    <thead class="bg-primary">
                        <tr>
                            <th>Raw Material</th>
                            <th>Planned Quantity</th>
                            <th>Allocated Quantity</th>
                            <th>Used Quantity</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in raw_materials %}
                        <tr data-id="{{ item.id }}"  data-raw-material="{{ item.id }}">
                            <td><small>{{ item.name }}</small></td>
                            <td><small>{{ item.quantity | floatformat:2 }}</small></td>
                            <td>
                                <small>
                                    {% for rm in allocated %}
                                        {% if item.id == rm.raw_material.id %}
                                            {{ rm.quantity }}
                                        {% endif %}
                                    {% endfor %}
                                </small>
                            </td>
                            <td>
                                <small>
                                    <input type="number" class="form-control used-quantity" min="0" placeholder="Press 'Enter' when done">
                                </small>
                            </td>
                            <td><small class="status-text"></small></td> 
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="bg-dark py-2 mt-4">
                <h5 class="text-center text-light">Dish Details</h5>
            </div>
            <div class="table-responsive">
                <table class="table table-hover" id="minor">
                    <thead class="bg-primary">
                        <tr>
                            <th>Dish</th>
                            <th>Ingridents</th>
                            <th>Unit(s)/Portion</th>
                            <th>Planned Portions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in dish_raw %}
                        <tr data-id="{{ item.id }}"  data-raw-material="{{ item.id }}">
                            <td class="bg-dark text-light"><small>{{ item.Name }}</small></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            {% for items in item.Ingredients %}
                                <tr>
                                    <td></td>
                                    <td>
                                        <small>
                                            {{ items.Name}}
                                        </small>
                                    </td>
                                
                                    <td>
                                        <small>
                                            {{items.Quantity}}
                                        </small>
                                    </td>

                                    <td>
                                        <small>
                                            {{items.Planned}}
                                        </small>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="d-flex justify-content-end mt-2">
            <button id="id_confirm" class="btn-primary text-light btn" disabled>Confirm Declaration</button>
        </div>
    </div>
</div>

<script>
    
    document.addEventListener('DOMContentLoaded', function () {
        const inputs_state = document.querySelectorAll('.used-quantity');
        const confirmBtn = document.getElementById('id_confirm');

        function validateInputs() {
            let allFilled = true;
            inputs_state.forEach(input => {
                const value = input.value.trim();
                if (!input.disabled) {
                    allFilled = false;
                }
            });

            confirmBtn.disabled = !allFilled;
        }

        inputs_state.forEach(input => {
            input.addEventListener('input', validateInputs);
        });

        validateInputs();
    
        const inputElements = document.querySelectorAll('.used-quantity');

        console.log(inputElements)
        inputElements.forEach(input => {
            console.log('here')
            input.addEventListener('keydown', function (event) {
                if (event.key === 'Enter') {
                    event.preventDefault();
                    const tr = input.closest('tr');
                    const itemId = {{ production_plan.id }};
                    const rmId = tr.getAttribute('data-raw-material');
                    const usedQuantity = parseFloat(input.value);
                    
                    // revisit
                    {% comment %} if (usedQuantity > actualQuantity) {
                        Swal.fire({
                            title: "Error",
                            text: 'Quantity used can\'t be greater than Quantity.',
                            icon: "error"
                        });
                        return;
                    }  {% endcomment %}

                    const cells = tr.querySelectorAll('td');

                    const actualQuantity = parseFloat(cells[2].innerText.trim());
                    console.log({Actual:actualQuantity})

                    if(usedQuantity <=  actualQuantity){
                        fetch("{% url 'inventory:declare_production_plan' production_plan.id %}", {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{ csrf_token }}'
                            },
                            body: JSON.stringify({
                                raw_material_id:rmId,
                                production_plan_item: itemId,
                                quantity_used: usedQuantity,
                            })
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (!data.success) {
                                Swal.fire({
                                    title: "Error",
                                    text: data.message,
                                    icon: "error"
                                });
                            }else{
                                tr.querySelector('.status-text').innerText = "Declared";
                                input.disabled = true;
                                validateInputs();
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                    }else{
                        Swal.fire({
                            title: "Error",
                            text: 'Quantity used can\'t be greater than Quantity.',
                            icon: "error"
                        });
                    }
                }
            });
        });

        document.getElementById('id_confirm').addEventListener('click', function () {
            fetch("{% url 'inventory:confirm_declaration' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({
                    production_plan: {{ production_plan.id }}
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    Swal.fire({
                        title: "Success",
                        text: data.message,
                        icon: "success"
                    }).then(() => {
                        window.location.href = "{% url 'inventory:production_plans' %}";
                    });
                } else {
                    Swal.fire({
                        title: "Error",
                        text: data.message,
                        icon: "error"
                    });
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    });
</script>

{% endblock content %}