{% extends "base.html" %}
{% load static%}
{% load crispy_forms_tags %}
{% block title%} Production Plan {% endblock%}
{% block content %}
<style>
    .but{
        background-color: rgb(215, 245, 215);
    }

    .but1{
        background-color: rgb(241, 224, 227);
    }

    .plans_list {
        max-height: 80vh;
        overflow-y: auto;
        padding-right: 10px;
    }

    @media (min-width:600px ) and (max-width:1024px){
        .checklist{
            display: none;
        }
        .col-10{
            width: 100%; 
            flex: 0 0 100%;
            max-width: 100%; 
        }
        .Production{
            margin-right: 15px;
        }
    }
    @media (max-width: 1024px) {
        .Production .production-buttons {
            display: none; 
        }
        .hamburger-menu {
            display: block;
        }
    }

    @media (min-width: 1025px) {
        .hamburger-menu {
            display: none; /
        }
    }
</style>
    <div class="Production" style="margin-left: 15px;">
        <div class="inventory-navbar">
            <nav class="d-flex justify-content-between align-items-center mt-2 mb-2">
                <div class='fw-bold d-flex align-items-center'>
                    {% if request.user.role != 'chef'%}
                        <a href='/' class='bx bx-home btn border fs-5'></a>
                    {% endif %}
                    <span class='fs-5 mx-2'>Production</span>
                </div>
                <div class="d-flex align-items-center mt-2">
                    <button class="btn btn-dark hamburger-menu" type="button" data-bs-toggle="collapse" data-bs-target="#hamburgerMenuContent" aria-expanded="false" aria-controls="hamburgerMenuContent">
                        <i class="bx bx-menu"></i>
                    </button>
    
                    <!-- Hamburger menu content -->
                    <div class="collapse" id="hamburgerMenuContent">
                        <ul class="list-unstyled mt-2">
                            <li>
                                <a href="{% url 'inventory:create_production_plan' %}" class='btn btn-outline-dark w-100 mb-2'>Create Production Plan</a>
                            </li>
                            <li>
                                <a href="{% url 'inventory:production_transfers' %}" class='btn btn-outline-dark w-100 mb-2'>Receive Transfers <span class='badge text-dark'>{{ transfer_count }}</span></a>
                            </li>
                            <li>
                                <a href="{% url 'inventory:production_raw_materials' %}" class='btn btn-outline-dark w-100 mb-2 d-none'>Production Raw Materials</a>
                            </li>
                            <li>
                                <button type="button" class='btn btn-outline-dark w-100' data-bs-toggle="modal" data-bs-target="#checklistModal">Checklist</button>
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown mx-2" style="margin-top: -9px;">
                        <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          Menu Items
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li class="mx-2 py-2">
                                <a href="{% url 'inventory:meal_list' %}">Meals</a>
                            </li>
                            <li class="mx-2 py-2">
                                <a href="{% url 'inventory:dish_list' %}">Dishes</a>
                            </li>
                        </ul>
                    </div>
                    <ul class="list-unstyled mt-2 d-flex">
                        <li class="">
                            <a href="{% url 'inventory:create_production_plan' %}" class='btn btn-outline-dark'>Create Production Plan</a>
                        </li>
                        <li class="">
                            <a href="{% url 'inventory:production_transfers' %}" class='btn btn-outline-dark mx-2'>
                                Receive Transfers
                                <span class='badge text-dark'>{{ transfer_count }}</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="{% url 'inventory:production_raw_materials' %}" class='btn btn-outline-dark d-none'>Production Raw Materials</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container-fluid row">
            <div class="mt-2 col-5">
                <div class="table-responsive plans_list">
                    <table class='table table-hover' id='production_table'>
                            <thead class='bg-primary'>
                                <tr>
                                    <th class="text-center">Date</th>
                                    {% if request.user.role != 'chef'%}
                                        <th class="text-center">Declared</th>
                                            <span class='text-danger'>BY CHEF</span>
                                            <span class='mx-2'>(Confimation Status)</span>
                                        </th>
                                    {% endif %}
                                    <th class="text-center">Actions</th>
                                </tr>
                                </thead>
                            <tbody>
                                {% for plan in plans %}
                                    <tr>
                                        <td class="text-center px-1 py-1">
                                            <small>
                                                {{ plan.date_created }} {{ plan.time_created }}
                                            </small>
                                            {% if request.user.role != 'admin' or request.user.role != 'accountant' %}
                                            <p>
                                                <small>
                                                    {% if plan.status %}
                                                        <small class="but text-success p-2 rounded text-center w-100">Confirmed</small>
                                                    {%else %}
                                                        <a href="{% url 'inventory:confirm_production_plan' plan.id %}" class="but1 text-danger p-2 rounded text-center w-100">Please Confirm</a>
                                                    {% endif %}
                                                </small>
                                            </p>
                                            {% endif %}
                                        </td>
                                        <td class="text-center px-1">
                                            <small>
                                                {{ plan.date_created }} {{ plan.time_created }}
                                            </small>
                                            {% if request.user.role != 'chef'%}
                                            <p>
                                                <small>
                                                    {% if plan.declared %}
                                                        <small class="but text-success p-2 rounded text-center w-100" disabled>Declared</small>
                                                    {% else %}
                                                        {% if plan.status %}
                                                            <a href="{% url 'inventory:declare_production' plan.id %}" class="but1 text-danger p-2 rounded text-center w-100">Waiting declaration</a>
                                                        {% else %}
                                                            <small class="but1 text-danger p-2 rounded text-center w-100" disabled>Awaiting production plan confirmation</small>
                                                        {% endif %}
                                                    {% endif %}
                                                </small>
                                            </p>
                                            {% endif %}
                                        </td>
                                        <td class="text-center py-4">
                                            <small>
                                                <a href="{% url 'inventory:production_plan_detail' plan.id %}" class="bx bx-show mx-2"></a>
                                                <a href="" class="bx bx-printer"></a>
                                                {% if plan.status %}
                                                {% else %}
                                                    <a href="{% url 'inventory:production_plan_delete' plan.id %}" class="bx bx-trash mx-2"></a>
                                                {% endif %}
                                            </small>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                    </table>
                </div>
            </div>

            <div class="mt-2 col-7">
                <div class="table_container_dish table-responsive">
                    <table class="table bg-light table-hover">
                        <thead class="sticky-header">
                            <tr>
                                <th>Dish</th>
                                <th>Value(Price)</th>
                                <th>Declared Portions </th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Dishes will be populated here -->
                        </tbody>
                    </table>
                </div>

                <!-- Ingredients Table -->
                <div>
                    <div class="text-center text-light bg-dark py-2 mb-1">
                        <h5>Ingredients</h5>
                    </div>

                    <div class="table_container_ing">
                        <table class="table bg-light table-hover">
                            <thead>
                                <tr>
                                    <th>Ingredients</th>
                                    <th class="text-center">Planned Units</th>
                                    <th class="text-center">Actual Units</th>
                                    <th class="text-center">Variance Units</th>
                                </tr>
                            </thead>
                            <tbody id="table_ing">
                                <!-- Ingredients will be populated here -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="statusFormModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <h5 class="fw-bold">Change Status</h5>
                        <form action="">
                            {% csrf_token %}
                            {{ status_form | crispy }}
                            <div class="d-flex justify-content-end">
                                <div class="">
                                    <button type="reset" class="btn btn-danger btn-sm w-100">
                                        <i class='bx bx-reset'></i>
                                        Reset
                                    </button>
                                </div>
                                <span class="px-1"></span>
                                <div class="">
                                    <button type="button" onclick="changeStatus()" class="btn btn-secondary btn-sm w-100">
                                        <i class='bx bx-save'></i>
                                        change
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <h5 class="fw-bold">Status Successfully Changed and Related Accounts updated</h5>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <script>
        new DataTable('#production_table',{
            pageLength: 10  
        });

        document.addEventListener("DOMContentLoaded", function () {
            fetch("{% url 'inventory:latest_declare_production' %}")
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        populateDishes(data.data.production_plan, data.data.total_price, data.data.total_portions, data.data.price);
                        populateIngredients(data.data.ingridients, data.data.total, data.data.raw_material_variance);
                    } else {
                        alert("Failed to load production plan");
                    }
                })
                .catch(error => console.error('Error fetching production plan:', error));
        });

        function populateDishes(dishes, totalPrices, totalPortions, totalPrice) {
            const dishTableBody = document.querySelector(".table_container_dish tbody");
            dishTableBody.innerHTML = ''; // Clear existing rows

            let totalRowHTML = '';

            dishes.forEach(dish => {
                const dishPrice = totalPrices.find(p => p.name === dish.dish.name)?.total_price || 0;
                const row = `
                    <tr>
                        <td><small>${dish.dish.name}@$${dish.dish.price}</small></td>
                        <td><small>$${dishPrice}</small></td>
                        <td><small>${dish.portions}</small></td>
                    </tr>
                `;
                dishTableBody.insertAdjacentHTML('beforeend', row);
            });

            // Add totals row
            totalRowHTML = `
                <tr class="dish-total-rows sticky-header">
                    <td class="bg-secondary text-light"><strong>Totals</strong></td>
                    <td class="bg-secondary text-light"><small><strong>$${totalPrice}</strong></small></td>
                    <td class="bg-secondary text-light"><small><strong>${totalPortions} Portions</strong></small></td>
                </tr>
            `;
            dishTableBody.insertAdjacentHTML('beforeend', totalRowHTML);
        }


        function populateIngredients(ingredients, totalCost, raw_material_variance) {
            const ingTableBody = document.getElementById("table_ing");
            ingTableBody.innerHTML = ''; // Clear existing rows
            let var_quantity = 0;
            let actual = 0;
            ingredients.forEach(ing => {

                for (let i = 0; i < raw_material_variance.length; i++) {
                    const variance = raw_material_variance[i];
                    if (variance.ingredient.name === ing.name) {
                        var_quantity = variance.quantity;
                        break;
                    }
                }
                actual = ing.quantity - var_quantity;
                const row = `
                    <tr>
                        <td><small>${ing.name}</small></td>
                        <td class="text-center"><small>${parseFloat(ing.quantity).toFixed(3)}${ing.unit} [$${parseFloat(ing.cost).toFixed(2)}]</small></td>
                        <td class="text-center"><small>${actual}</small></td>
                        <td class="text-center"><small>${var_quantity}</small></td>
                    </tr>
                `;
                ingTableBody.insertAdjacentHTML('beforeend', row);
            });

            // Add totals row
            const totalsRow = `
                <tr class="ing-total-rows">
                    <td class="bg-secondary text-light"><strong>Totals</strong></td>
                    <td class="planned-cost text-center bg-secondary text-light d-none"><small><strong>$${totalCost}</strong></small></td>
                    <td class="text-center bg-secondary text-light"><small><strong>$${totalCost}</strong></small></td>
                    <td class="bg-secondary"></td>
                    <td class="bg-secondary"></td>
                </tr>
            `;
            ingTableBody.insertAdjacentHTML('beforeend', totalsRow);
        }

    </script>
{% endblock content %}