{% load static %}
{% block content %}
<style>
    .checklist{
        background:#f2f2f2;
    }
    .in, .out{
        height:35vh;
        overflow-y:auto;
    }
</style>

<div class="checklist p-2 border-right border-left border-bottom">
    <div class='mt-2'>
        <h5 class="fw-bold">Check List</h5>
    </div>
    <div class="d-flex justify-content-between align-items-center mt-2 mb-2">
        <span class="badge">
            <small>
                <!-- <a class="btn btn-check-circle" onclick="checkAllInStock()">A</a> -->
                <button class="btn btn-outline-secondary btn-sm text-dark px-1 py-0" onclick="checkAllInStock()">ALL</button>
            </small>
        </span>

        <span class="badge">
            <small>
                <!-- <a class="btn btn-check-circle" onclick="checkProductInStock()">P</a> -->
                <button class="btn btn-outline-secondary btn-sm text-dark px-1 py-0" onclick="checkProductInStock()">PRODUCT</button>
            </small>
        </span>

        <span class="badge">
            <small>
                <!-- <a class="btn btn-check-circle" onclick="checkRawMaterials()">RM</a> -->
                <button class="btn btn-outline-secondary btn-sm text-dark px-1 py-0" onclick="checkRawMaterials()">RAW MATERIAL</button>
            </small>
        </span>
    </div>
    <div class="mb-2">
        <input type="text" id="search-bar" class="form-control" placeholder="Search products...">
    </div>

    <h6 class="border-top border-bottom p-1 bg-secondary rounded text-light">In Stock</h6>
    
    <div class="in mt-2">
        <table class="table" id="in-stock-table">
            <thead>
                <th><small>Product</small></th>
                <th><small>W-H Qnty</small></th>
                <th><small>Status</small></th>
            </thead>
            <tbody>
                {% for product in products %}
                    {% if product.product.quantity > 0 %}
                        <tr data-product-id="{{ product.id }}">
                            <td>{{ product }}</td>
                            <td>{{product.product.quantity|floatformat:2}}</td>
                            <td>
                                <input 
                                    type="checkbox" 
                                    class="checklist-checkbox"
                                    {% if product.status %} checked {% endif %}
                                    data-product-id="{{ product.id }}"
                                >
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h6 class="border-top border-bottom p-1 bg-secondary rounded text-light">Out Of Stock</h6>
    <div class="out mt-2">
        <table class="table table-striped" id="out-stock-table">
            <thead>
                <th><small>Product</small></th>
            </thead>
            <tbody>
                {% for product in products %}
                    {% if product.product.quantity < 1 %}
                        <tr data-product-id="{{ product.id }}">
                            <td>{{ product }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    document.getElementById('search-bar').addEventListener('keyup', function() {
        let searchValue = this.value.toLowerCase();
        let rows = document.querySelectorAll('#in-stock-table tbody tr, #out-stock-table tbody tr');
        
        rows.forEach(function(row) {
            let productName = row.querySelector('td').textContent.toLowerCase();
            if (productName.includes(searchValue)) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    });

    document.querySelectorAll('.checklist-checkbox').forEach(function(checkbox) {
        checkbox.addEventListener('change', function() {
            let productId = this.dataset.productId;
            let isChecked = this.checked;

            fetch("{% url 'inventory:check_check_list' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({
                    'check_list_id': productId,
                    'status': isChecked
                })
            })
            .then(response => response.json())
            .then(data => {
                if (!data.success) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: data.message || 'Something went wrong!'
                    });
                }
            })
            .catch(error => {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'An error occurred while processing your request!'
                });
            });
        });
    });

    function checkAllInStock() {
        fetch("{% url 'inventory:check_list_all_products' %}", {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            }
        }).then(response => response.json())
        .then(data => {
            if (data.success) {
                console.log(data);
                const tbody = document.querySelector('#in-stock-table tbody');
                tbody.innerHTML = ''; // Clear table

                data.products.forEach(product => {
                    if (product.product__quantity > 0) {
                        const row = document.createElement('tr');
                        row.dataset.productId = product.product__id;

                        row.innerHTML = `
                            <td>${product.product__name}</td>
                            <td>${product.product__quantity.toFixed(2)}</td>
                            <td>
                                <input 
                                    type="checkbox" 
                                    class="checklist-checkbox"
                                    ${product.status ? 'checked' : ''}
                                    data-product-id="${product.product__id}"
                                >
                            </td>
                        `;
                        tbody.appendChild(row);
                    }
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: data.message || 'Something went wrong!'
                });
            }
        })
    }

    function checkProductInStock() {
       fetch("{% url 'inventory:check_list_finished_products' %}", {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            }
        }).then(response => response.json())
        .then(data => {
            if (data.success) {
                console.log(data);
                const tbody = document.querySelector('#in-stock-table tbody');
                tbody.innerHTML = ''; // Clear table

                data.products.forEach(product => {
                    if (product.product__quantity > 0) {
                        const row = document.createElement('tr');
                        row.dataset.productId = product.product__id;

                        row.innerHTML = `
                            <td>${product.product__name}</td>
                            <td>${product.product__quantity.toFixed(2)}</td>
                            <td>
                                <input 
                                    type="checkbox" 
                                    class="checklist-checkbox"
                                    ${product.status ? 'checked' : ''}
                                    data-product-id="${product.product__id}"
                                >
                            </td>
                        `;
                        tbody.appendChild(row);
                    }
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: data.message || 'Something went wrong!'
                });
            }
        })
    }

    function checkRawMaterials() {
       fetch("{% url 'inventory:check_list_raw_products' %}", {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            }
        }).then(response => response.json())
        .then(data => {
            if (data.success) {
                console.log(data);
                const tbody = document.querySelector('#in-stock-table tbody');
                tbody.innerHTML = ''; // Clear table

                data.products.forEach(product => {
                    if (product.product__quantity > 0) {
                        const row = document.createElement('tr');
                        row.dataset.productId = product.product__id;

                        row.innerHTML = `
                            <td>${product.product__name}</td>
                            <td>${product.product__quantity.toFixed(2)}</td>
                            <td>
                                <input 
                                    type="checkbox" 
                                    class="checklist-checkbox"
                                    ${product.status ? 'checked' : ''}
                                    data-product-id="${product.product__id}"
                                >
                            </td>
                        `;
                        tbody.appendChild(row);
                    }
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: data.message || 'Something went wrong!'
                });
            }
        })
    }
    
</script>

{% endblock content %}