{% extends "base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock title %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/dashboard.css'%}">
{% endblock css %}

{% block content %}
<div class="row mx-3 mt-3 align-items-center dashboard-container">
    <a href="{% url 'pos:pos'%}" class="col col-4 mb-2">
        <div class="card dashboard-card">
            <div class="card-body d-flex justify-content-center align-items-center flex-column">
                <div>
                    <img src="{% static 'assets/pngs/sell.png'%}" alt="sell_icon" width="100rem">
                </div>
            </div>
        </div>
    </a>
    <a href="{% url 'analytics_index' %}" class="col col-4 mb-2">
        <div class="card dashboard-card">
            <div class="card-body d-flex justify-content-center align-items-center flex-column">
                <div>
                    <img src="{% static 'assets/pngs/dashboard.png'%}" alt="dashboard_icon" width="100rem">
                </div>
            </div>
        </div>
    </a>
    <a href="{% url 'inventory:products' %}" class="col col-4 mb-2">
        <div class="card dashboard-card">
            <div class="card-body d-flex justify-content-center align-items-center flex-column">
                <div>
                    <img src="{% static 'assets/pngs/product.png'%}" alt="product_icon" width="100rem">
                </div>
            </div>
        </div>
    </a>
    <!--  -->
    <a href="{% url 'finance:finance' %}" class="col col-4 mb-2">
        <div class="card dashboard-card">
            <div class="card-body d-flex justify-content-center align-items-center flex-column">
                <div>
                    <img src="{% static 'assets/pngs/bars.png'%}" alt="plan_icon" width="100rem">
                </div>
            </div>
        </div>
    </a>
    <a href="{% url 'users:users' %}" class="col col-4 mb-2">
        <div class="card dashboard-card">
            <div class="card-body d-flex justify-content-center align-items-center flex-column">
                <div>
                    <img src="{% static 'assets/pngs/users.png'%}" alt="plan_icon" width="100rem">
                </div>
            </div>
        </div>
    </a>
    <a href="{% url 'settings:settings' %}" class="col col-4 mb-2">
        <div class="card dashboard-card">
            <div class="card-body d-flex justify-content-center align-items-center flex-column">
                <div>
                    <img src="{% static 'assets/pngs/settings.png'%}" alt="plan_icon" width="100rem">
                </div>
            </div>
        </div>
    </a>
    <a href="{% url 'inventory:end_of_day_list' %}" class="col col-4 mb-2">
        <div class="card dashboard-card">
            <div class="card-body d-flex justify-content-center align-items-center flex-column">
                <div>
                    <img src="{% static 'assets/pngs/reports.jpg'%}" alt="plan_icon" width="100rem">
                </div>
            </div>
        </a>
    </div>
</div>

<script>
    const socket = new WebSocket('ws://' + window.location.host + '/ws/sales/');

    socket.onopen = function() {
        console.log('WebSocket connection established');
    };

    socket.onerror = function(error) {
        console.error('WebSocket error:', error);
    };

    socket.onmessage = function(e) {
        const message = JSON.parse(e.data);
        console.log(message['data'], 'web socket data');
        
        const totalSalesElement = document.getElementById('total-sales');
        if (totalSalesElement) {
            totalSalesElement.innerText = `$${message['data']['total_sales']}`;
        }
    };
</script>
{% endblock content %}
