{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Create Production Plan {% endblock %}
{% block content %}
<style>
    .nav-back-btn{
        background:rgba(14, 134, 212, 0.10);
    }
    label{
        display: none;
    }
</style>
<div class='mt-3 me-3'>
    <div class='d-flex justify-content-between align-items-center'>
        <div class='d-flex justify-content-center align-items-center'>
            <a href='{% url "production:production-list"%}' class='btn bx bx-arrow-back nav-back-btn me-1 fs-5'></a>
            {% if request.user.role != 'chef'%}
                <a href='/' class='bx bx-home nav-back-btn btn fs-5 me-1'></a>
            {% else %}
                <span class='me-1'></span>
            {% endif %}
            <span class='fs-5'>Create Production Plan</span>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-9">
            <input type="text" name="" id="" class="form-control" placeholder="Search Dish" list="dishes" autocomplete="off" />
            <table class="table">
                <thead class="bg-primary-subtle">
                    <th>Dish</th>
                    <th>Portions</th>
                    <th>Selling</th>
                    <th>Cost</th>
                    <th>Gross Profit</th>
                </thead>
                <tbody id="cart-items"></tbody>
            </table>
            <div class="d-flex justify-content-end">
                <button class="btn border bx bx-reset mx-2" id="id_reset"></button>
                <button class="btn-primary btn sm bx bx-save" id="id_submit"></button>
            </div>
        </div>
        <div class="col-3 rounded bg-light pt-2" style="height:90vh;">
            <span class="fs-5">Select Dish & Enter portions</span>
            <form id="production-plan-form" class="mt-2">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="button" id="save-button" class="btn btn-primary btn-sm w-100">Save</button>
            </form>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
        let cart = [];
        let portion_multiplier = 1;
        let ingredientsData = [];
    
        const lf = document.getElementById('id_lf_carried_forward_quantity');
        const rm = document.getElementById('id_rm_carried_forward_quantity');
        const quantity = document.getElementById('id_quantity');
        const actual = document.getElementById('id_actual_quantity');
    
        $('#id_dish').select2();
    
        $('#id_reset').on('click', function() {
            cart = [];
            updateCartTable();
        });
    
        $('#id_submit').on('click', function() {
            const postData = {
                csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                cart: cart
            };
    
            fetch('{% url "production:create_production" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()
                },
                body: JSON.stringify(postData)
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    Swal.fire({
                        title: "Success",
                        text: "Production plan created successfully!",
                        icon: "success"
                    }).then(() => {
                        window.location.href = `/inventory/production/plans`;
                    });
                    cart = [];
                    updateCartTable();
                } else {
                    Swal.fire({
                        title: "Error",
                        text: data.message,
                        icon: "error"
                    });
                }
            })
            .catch(error => {
                console.error('Error submitting production plan:', error);
            });
        });
    
        // document.getElementById('id_dish').addEventListener('change', function(e) {})
        $('#id_dish').on('change', function(e) {
            const selectedProductId = e.target.value;
            console.log("Selected Product ID:", selectedProductId);
            if (!selectedProductId || selectedProductId === '') {
                ingredientsData = []; 
                portion_multiplier = 1; 
                return;
            }
    
            const postData = {
                csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                dish_id: selectedProductId,
            };
    
            fetch('{% url "production:dish_json_detail" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()
                },
                body: JSON.stringify(postData)
            })
            .then(response => response.json())
            .then(data => {
                console.log("Received data:", data);
                if (data.success) {
                    ingredientsData = data.data;
                    portion_multiplier = data.portion_multiplier;
                } else {
                    if (selectedProductId && selectedProductId !== '') {
                        Swal.fire({
                            title: "Error",
                            text: data.message,
                            icon: "error"
                        });
                    }
                }
            })
            .catch(error => {
                console.error('Error posting product data:', error);
            });
        });
    

        $('#id_quantity').on('input', function(e) {
            let quantityVal = parseFloat(e.target.value) || 0;
            let lfVal = parseFloat(lf.value) || 0;
            let rmVal = parseFloat(rm.value) || 0;
    
            let value = quantityVal - (lfVal + rmVal);
            actual.value = value < 0 ? 0 : value;
            actual.readOnly = true;
            actual.style.backgroundColor = 'lightgray';
        });
    
        function total_dish_cost(portions) {
            let cost_per_kg = 0;
            let kgs = portions / portion_multiplier;
    
            ingredientsData.forEach((i) => {
                cost_per_kg += i.quantity * i.cost;
            });
    
            return kgs * cost_per_kg;
        }
    
        $('#save-button').on('click', function() {
            const portions = parseFloat($('#id_portions').val());
            const dish_name = $('#select2-id_dish-container').text();

            console.log(dish_name, portions)

            if (!ingredientsData.length || isNaN(portions) || portions <= 0) {
                Swal.fire({
                    title: "Invalid Entry",
                    text: "Please select a dish and enter a valid portion size.",
                    icon: "warning"
                });
                return;
            }        
            const dish_text = $('#id_dish option:selected').text();
            const itemIndex = cart.findIndex(entry => entry.dish === dish_text);

            if (itemIndex !== -1) {
                cart[itemIndex].portions += portions;
                cart[itemIndex].total_cost = total_dish_cost(cart[itemIndex].portions);
            } else {
                let total_cost = total_dish_cost(portions)
                let totalRevenue = parseFloat(ingredientsData[0]['selling']) * portions;
                let grossProfit = totalRevenue - total_cost;
                let gpPercentage = ((grossProfit / totalRevenue) * 100).toFixed(2);
              
                const item = {
                    dish: dish_text,
                    portions: portions,
                    selling: ingredientsData[0]['selling'],
                    total_cost: total_cost,
                    gp:gpPercentage,
                };
                cart.push(item);
            }

            updateCartTable();
            $('#id_dish').val(null).trigger('change');
            $('#id_portions').val(0);
        });

        function updateCartTable() {
            const cartItems = $('#cart-items');
            cartItems.empty();
    
            cart.forEach((item, index) => {
                console.log(item)
                const gpClass = item.gp < 0 ? 'text-danger' : 'text-success';
                cartItems.append(`
                    <tr>
                        <td>
                            <button class="btn border bx bx-trash" onclick="deleteItem(${index})"></button>
                            <span class='mx-2'>${item.dish}</span>
                        </td>
                        <td>
                            <input type="number" class="form-control" value="${item.portions}" onchange="updateQuantity(${index}, this.value)">
                        </td>
                        <td>
                            <span class='mx-2'>${item.selling}</span>
                        </td>
                        <td>${item.total_cost.toFixed(2)}</td>
                        <td>
                            <span class='mx-2 ${gpClass}'>${item.gp}%</span>
                        </td>
                    </tr>
                `);
            });
        }
    
        window.deleteItem = function(index) {
            cart.splice(index, 1);
            updateCartTable();
        }
    
        window.updateQuantity = function(index, newPortions) {
            newPortions = parseFloat(newPortions);
    
            if (isNaN(newPortions) || newPortions <= 0) {
                Swal.fire({
                    title: "Invalid Portion",
                    text: "Please enter a valid portion number.",
                    icon: "warning"
                });
                return;
            }
    
            const item = cart[index];
            item.portions = newPortions;
            item.total_cost = total_dish_cost(newPortions);
            updateCartTable();
        }
    });
</script>
{% endblock content %}
