{% comment %} Rows-only template for AJAX infinite scroll append {% endcomment %}
{% for plan in productions %}
<tr>
    <td>
        {{ plan.plan_number }}
        <br>
        <small>Cost: ${{ plan|calculate_total_cost| floatformat:2 }}</small>
        <br>
        <small>Sales: ${{ plan|calculate_today_sale| floatformat:2 }}</small>
        <br>
        <small>Gp: ${{ plan|calculate_production_gp| floatformat:2 }}</small>
        <br>
        <i class="bx bx-time text-muted"></i>
        <small class="text-muted">{{ plan.created }}</small>
    </td>
    <td>{{ plan|calculate_planned_cost|floatformat:2 }}</td>
    <td>{{ plan|calculate_actual_cost|floatformat:2 }}</td>
    <td>{{ plan|calculate_varience|floatformat:2 }}</td>
    <td>
        {% if plan.declared and plan.confirm %}
            <span class="badge bg-success text-white w-100 p-2">Processed</span>
        {% else %}
            {% if not plan.declared %}
                <div class="d-flex gap-2">
                    <a href="{% url 'production:confirm_production' plan.id %}" class="badge bg-primary text-white p-2 flex-fill">Confirm</a>
                    <a href="{% url 'production:declare_production' plan.id %}" class="badge bg-secondary text-white p-2 flex-fill">Declare</a>
                </div>
            {% elif not plan.confirm and plan.declared %}
                <div class="d-flex gap-2">
                    <a href="{% url 'production:confirm_production' plan.id %}" class="badge bg-primary text-white p-2 flex-fill">Confirm</a>
                    <span class="badge bg-secondary text-dark p-2 flex-fill">Declared</span>
                </div>
            {% endif %}
        {% endif %}
    </td>
    <td>
        <a href="{% url 'production:production-detail' plan.id %}" class="bx bx-show"></a>
        <span class="ms-2 text-primary bx bx-pencil"></span>
    </td>
</tr>
{% endfor %}
