{% load custom_filters %}

<style>
    .badge {
        display: inline-block;
        min-width: 110px;
        text-align: center;
        padding: .35rem .5rem;
    }
    .bx{
        cursor: pointer;
    }
    .bx:hover {
        font-size: 1.5rem;
    }
</style>
<table class="table table-hover table-borderless">
    <thead class="bg bg-primary-subtle">
        <th>Details</th>
        <th>Sys Expected Cost</th>
        <th>Actual Cost</th>
        <th>Variance</th>
        <th>status</th>
        <th>Action</th>
    </thead>
    <tbody id="production-rows">
        {% for plan in productions %}
        <tr>
            <td>
                <span>{{ plan.plan_number }}</span>
                <br>
                <small class="text-muted">Sales: ${{ plan|calculate_today_sale|floatformat:2 }}</small>
                <br>
                <span class="text-success" style="opacity: 5;">Gp: ${{ plan|calculate_production_gp| floatformat:2 }}</span>
                <br>
                <i class="bx bx-time text-muted"></i>
                <small class="text-muted" style="font-size: 12px;">{{ plan.created }}</small>
            </td>
            <td class="text-muted fs-6"><br><small>{{ plan|calculate_planned_cost|floatformat:2 }}</small></td>
            <td class="text-muted fs-6"><br><small>{{ plan|calculate_actual_cost|floatformat:2 }}</small></td>
            <td class="text-muted fs-6"><br><small>{{ plan|calculate_varience|floatformat:2 }}</small></td>
            <td>
                <br>
                {% if plan.declared and plan.confirm %}
                    <span class="badge bg-light text-dark w-100 p-2">Processed</span>
                {% else %}
                    {% if not plan.declared %}
                        <div class="d-flex gap-2">
                            <a href="{% url 'production:confirm_production' plan.id %}" class="badge bg-primary text-white p-2 flex-fill">Confirm</a>
                            <a href="{% url 'production:declare_production' plan.id %}" class="badge bg-secondary text-white p-2 flex-fill">Declare</a>
                        </div>
                    {% elif not plan.confirm and plan.declared %}
                        <div class="d-flex gap-2">
                            <a href="{% url 'production:confirm_production' plan.id %}" class="badge bg-primary text-white p-2 flex-fill">Confirm</a>
                            <span class="badge bg-secondary text-dark p-2 flex-fill">Declared</span>
                        </div>
                    {% endif %}
                {% endif %}
            </td>
            <td>
                <br>
                <a href="{% url 'production:production-detail' plan.id %}" class="bx bx-show"></a>
                <span class="ms-2 bx bx-pencil"></span>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


